asgiref==3.4.1
beautifulsoup4==4.10.0
blis==0.7.7
Bottleneck==1.3.4
catalogue==2.0.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
contextvars==2.4
cycler==0.11.0
cymem==2.0.6
Cython==0.29.28
dataclasses==0.8
Django==3.2.12
fastai==1.0.61
fastcore==1.4.0
fastdownload==0.0.5
fastprogress==1.0.2
Flask==2.0.3
idna==3.3
image==1.5.33
immutables==0.17
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.1
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib==3.3.4
murmurhash==1.0.6
numexpr==2.8.1
numpy==1.19.5
nvidia-ml-py3==7.352.0
opencv-python==4.5.5.64
packaging==21.3
pandas==1.1.5
pathy==0.6.1
Pillow==8.4.0
pkg_resources==0.0.0
preshed==3.0.6
pydantic==1.8.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
sqlparse==0.4.2
srsly==2.4.2
thinc==8.0.15
threadpoolctl==3.1.0
torch==1.10.2+cpu
torchaudio==0.10.2+cpu
torchvision==0.11.3+cpu
tqdm==4.63.1
typer==0.4.1
typing-extensions==3.10.0.2
urllib3==1.26.9
wasabi==0.9.1
Werkzeug==2.0.3
zipp==3.6.0
